@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text font-sans;
}

/* Custom scrollbar for a sleek look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e06a14;
}
